<h2>Quiz Edit</h2>

<div class="row margin-top-5">
    <div class="col-md-12">
        {{quiz.quizTitle}}
    </div>
    <div class="col-md-12">
        <form class="form-inline">
            <label>Correct message:</label><input type="text" class="form-control" ng-model="quiz.CorrectText" />
            <label>Incorrect message:</label><input type="text" class="form-control" ng-model="quiz.incorrectText" />
            <div class="btn btn-success icon-camera" ng-click="save()">
                <span class="glyphicon glyphicon-floppy-save"> </span> Save
            </div>
            <div class="btn btn-info icon-camera" ng-click="export()">
                <span class="glyphicon glyphicon-download"> </span> Export
            </div>
        </form>
        
            
        </div>
    </div>
    <div class="col-md-12">
        <h3>Questions:</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Question Title
                    </th>
                    <th>
                        Question Text
                    </th>
                    <th>
                        Question Type
                    </th>
                    <th>
                        Answers
                    </th>
                    <th>
                        Edit
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="question in quiz.Questions">
                    <td >
                        <img class="img-rounded" src="{{question.ImageUrl}}" alt="{{question.ImageUrl}}" /> 
                    </td>
                    <td >
                        {{question.Title}}
                    </td>

                    <td >
                        {{question.QuestionText}}
                    </td>

                    <td >
                        {{question.Type}}
                    </td>

                    <td >
                        {{question.Answers.length}}
                    </td>
                    <td>

                        <div class="btn btn-info icon-camera" ng-click="editQuestion(question)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </div>

                    </td>
                    <td ng-hide="question.isEdit">
                        <div class="btn btn-danger icon-camera" ng-click="delete(question)">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                        </div>
                    </td>
                </tr>
                <tr class="info" ng-repeat-end="question in questions" ng-show="question.isEdit">
                    <td colspan="7">
                         <h4>Answers:</h4>
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Text
                                        </th>
                                        <th>
                                            Correct?
                                        </th>
                                        <th>
                                            Remove
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="answer in question.Answers">
                                        <td>
                                            <input type="text" ng-model="answer.Text" />
                                        </td>
                                        <td>
                                            <input type="checkbox" ng-model="answer.Correct"/>
                                        </td>
                                        <td>
                                            <div class="btn btn-danger icon-camera" ng-click="deleteAnswer(answer,question)">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <form class="form-inline">
                                
                                    <input type="text" class="form-control" placeholder="Answer Text" ng-model="newAnswer.Text" />
                                
                                        <input type="checkbox" ng-model="newAnswer.Correct" /> Correct?
                                
                                <div class="btn btn-success icon-camera" ng-click="addAnswer(newAnswer,question)">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </div>
                            </form>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>